<!--<h1>{{player.getName()}}</h1>-->
<!--<p>{{player.getCountry()}}</p>-->
<div class="player-list">
  <div class="player">
    <div class="player-row">
      <h3>{{player.getName()}}</h3>
    </div>
    <div class="player-row">
      <p>{{player.getAge()}} jaar</p>
      <p style="float: right;">{{player.getPosition()}}</p>
    </div>
    <div class="player-row">
      <img [src]="'../../assets/img/flags/' + player.getCountry().replace(' ', '_').toLowerCase() + '.png'"/>
      <p>{{player.getCountry()}}</p>
    </div>
    <div class="player-image">
      <img [src]="'../../assets/img/players/' + player.getName().replace(' ', '_').toLowerCase() + '.png'"/>
      <button class="btn btn-success" (click)="onSign()">Contracteer</button>
    </div>
  </div>
</div>
