.club {
  border: 2px solid #CCCCCC;
  border-radius: 20px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 250px;
}

.club-image button {
  display: block;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.club-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.club-list {
  display: inline-block;
}

.club-row {
  display: inline;
}

.club-row img {
  height: 20px;
}

img {
  height: 150px;
}
